<h1> Show map</h1>

<script type="text/javascript"
  src='https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyD3fp4u7sGbSLM80-jaefxL5iVVKuTLXX4'>
</script>


<div id="map-canvas" style="height:100%">
</div>